@font-face {
	font-family: segoe;
	src: url('../font/segoeui.ttf');
}

body{
	background: #ffffff;
}

/*==========================HEADER=======*/

header#menu{
	/*display:block;*/	
	/*float:left;*/
	position:fixed;
	z-index:2;
	width:100%;	
	background:#1F9DCF;		
	background: url(../img/back-menu.png) repeat-x ; 
}
nav#menu_head{
	min-width:1024px;
	width:1024px;
	background-color: #3a3;
	margin:0 auto;		
}

nav#menu_head ul.top{	
	background-color: #1F9DCF;
	margin: 0 auto;
	height: 60px;
	min-width: 1114px;
	width:auto;
	border-bottom: 5px solid #F8E14E;
	font-weight: 100;
}
nav#menu_head ul.top li{	
	float: left;
	display: inline;
	height: 40px;
	padding: 10px 15px;
	line-height: 40px;
	font-size: 100%;
	width: 120px;
	background-color: #1F9DCF;
	text-align: center;
	text-transform: uppercase;
	color:#fff;
	cursor: pointer;
}
nav#menu_head ul.top li.logo{
	width:240px;
	background: url(../img/spriteT.png);
	text-indent: -9999px;
	background-position: 0px -1px;	
}

nav#menu_head ul.top li:hover{	
	 background-color: #0C92D0;
}
nav#menu_head ul.bottom{
	background: #2d2d2d;
	height: 30px;
	min-width: 1114px;
	width:auto;
	margin:0 auto;
}
nav#menu_head ul.bottom li{
	display:inline;
	float:left;	
	padding: 3px 15px;
	background-color: #2d2d2d;
	color:#fff;
}
nav#menu_head ul.bottom li.social{		
	background: url(../img/spriteT.png);
	background-position: 0 -62px;
	width: 240px;
	height: 24px;	
}
nav#menu_head ul.bottom li.social ul{			
	width: 240px;
	height: 24px;		
}

nav#menu_head ul.bottom li.social ul li{		
	display:inline;
	width:60px;
	height: 24px;
	text-indent: -9999px;
	margin: 0;
	padding: 0;
}

 .twitter{			
	background: url(../img/spriteT.png);
	background-position: 0 -62px;	
	float:left;
	margin: 0;
	padding: 0;
}
.facebook{			
	background: url(../img/spriteT.png);
	background-position: 0 -62px;
	
	float:left;
	margin: 0;
	padding: 0;
}
.google{			
	background: url(../img/spriteT.png);
	background-position: 0 -62px;
	
	float:left;
	margin: 0;
	padding: 0;
}
.linkedin{			
	background: url(../img/spriteT.png);
	background-position: 0 -62px;	
	float:left;
	margin: 0;
	padding: 0;
}

.add-icon{
	background: url(../img/spriteT.png);
	background-position: -272px 3px;
	width: 16px;
	height: 20px;
	float: left;
}

nav#menu_head ul.bottom li.add_event, .add_event a,.add_event a:hover, .add_event a:visited {
	background: #F8E14E;
	color:#000;
	height: 24px;
	width:270px;
	text-align: center;
	font-size: 15px;
	text-transform: uppercase;	
	text-decoration: none;	
}
nav#menu_head ul.bottom li.search{
	width:270px;	
}
nav#menu_head ul.bottom li.search input[type=search]{
	border:none;
	background: #2d2d2d;
	color:#fff;
	width:240px;
	}

nav#menu_head ul.bottom li.login,nav#menu_head ul.bottom li.login a, nav#menu_head ul.bottom li.login a:hover, nav#menu_head ul.bottom li.login a:visited {
	background-color: #2d2d2d;
	width:120px;
	text-align: center;
	color:#fff;
	text-decoration: none;
}

.dropdown-menu{
	background: #2d2d2d;
	position: absolute;
	top: 100%;
	left: -38px;
	z-index: 1000;
	display: none;
	color: #fff;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 0px 0 0;
	list-style: none;		
	border: 1px solid #2d2d2d;
	webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}


.row{
	width:100% !important;
}


.auth-box{
	margin:200px auto 120px;
	background: #E6E7E8;
	max-width:460px;
}

.auth-box p{
	text-align: justify;
	margin:0 10px;
}

.auth-box h1, input{
	font-weight:100;
}

.auth-box h1{
	background:#1F9DCF;
	color:#ffffff;
	text-align: center;
	line-height: 50px;
	margin: 0;
	font-size: 30px;
}
.auth-box input{	
	height: 50px;
	font-size: 30px;
	border: 1px solid #fff;
	line-height: normal;
	width:100%;	
	border: 0;
    padding: 0;   
    font-family:inherit;
    font-weight: 100;
    text-indent: 10px;
}

.auth-box #actions{
	background: #E6E7E8;
	height:50px;
}
.auth-box #remember{
	background: #E6E7E8;
	height:50px;
	width:230px;
	margin: 0;
	padding:0;
}
.auth-box #submit{
	width:230px;
	margin:0;
	padding:0;
}

.auth-box #submit-forget{
	width:460px;
	margin:0;
	padding:0;
}

.auth-box #submit-forget input{
	background:#F8E14E;
}

.auth-box #remember label{
	background: #E6E7E8;
	height:50px;
	font-size: 12px;
	font-weight: 100;
}


.auth-box #remember input{
	margin:0px;
	width:50px;
	height:20px;		
}

.auth-box #actions p{
  padding: 13px 0 0;
}
.auth-box #submit input{
	background:#F8E14E;
}

.auth-box .actionlinks{
	margin:10px 0;
	float:right;
	display:inline;
	font-weight: 100;
	margin: 3px 10px 10px 0;
}
.auth-box .facebook-login{
	background: #32538A;
	height:50px;
	color:#fff;
	text-align: center;
	font-weight: 100;
}

.auth-box .facebook-login p{
	font-size: 1.5em;
	 padding: 14px 0 0;
	 text-align: center;
}

.facebook-login a:hover, .facebook-login a:visited, .facebook-login a{
	text-decoration: none;
	color:#ffffff;
}

.menu{
	background-color: #1F9DCF;
    height: 65px;

}

.thick{
	background: #F8E14E;
	height:5px;
}

.menu ul{
	background: none repeat scroll 0 0 #1F9DCF;	
	max-width: 960px;
	margin:0 auto;
}
.menu ul li{
	font-family: segoe;	
	float:left;	
	display:inline;
	text-align: center;
	color:#fff;	
	width:120px;
	height:65px;
	font-size:14px;
	text-transform: uppercase;
	font-weight: 200;
	
}
.menu ul li a{
	vertical-align:middle; /* center vertically */	
	color:#fff;
	text-decoration: none;
}


.menu ul li:hover{
	background: #0C92D0;
}


.secondary-nav{
}

.secondary-nav .social{
background: green;
height:30px;
}
.secondary-nav .proposal{
background: yellow;	
height:30px;
}
.secondary-nav .search{
	background: red;
	height:30px;
}
.secondary-nav .user{
	background: green;
	height:30px;
}

/*============ INDEX ==============*/

section#index{
	height:700px;
	width:100%;
	background: url(../img/hub.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	border-bottom: 5px solid #1F9DCF;
}

article.brief {
	margin: 0 auto;
	padding:100px 0 0 0;
	width:750px;
}

article#brief-index {
	margin: 0 auto;
	width:850px;
	padding:200px 0 0 0;	
	color:#fff;
}


.brief h1, .brief h2, .brief h3, .brief h4{
	color:#fff;
	text-shadow: 1px 1px 1px rgba(45, 45, 45, 1);
}


.brief #register{
	width:250px;
	height:50px;
	background: #1F9DCF;
	margin: 50px 0 20px 0;
	cursor:pointer;
}

.brief #register p{
	color:#fff;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
	font-weight: 100;
}
.brief #register  a, .brief #register a:hover, .brief #register  a:visited{
	text-decoration: none;
}


.brief #events{
	width:250px;
	height:50px;
	background: #1F9DCF;	
	cursor:pointer;
}

.brief #events p{
	color:#fff;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
	font-weight: 100;
}

#myCarousel, .carousel-inner{
	max-height: 450px;
}

.carousel-inner img{
	width:100%;
}
.carousel-caption{
	height:60px;
	top:90px;	
	max-width: 800px;
	margin:0 auto;
	background:none;
}
.carousel-caption h4 {
	font-size: 30px;
	text-shadow: 1px 1px 1px rgba(45, 45, 45, 1);
}

.carousel-indicators{
	left: 50%;
	bottom:10px;
	top:auto;
	z-index: 1;
}



/*======== TV ==========*/

#tv-bg{
	width:100%;
	margin:0 auto;
	/*background: url(../img/hub.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	*/
}

#tv{
	height:650px;
	margin:0 auto;
	width:930px;
	padding:100px 10px 90px;
	/*color:#fff;*/
}

/*======== address ==========*/
#address-bg{
	width:100%;
	margin:0 auto;
	/*background: url(../img/hub.png) no-repeat center center fixed; 

	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	*/
}

#address{
	width:960px;
	margin:0 auto;
	padding: 100px 10px 50px;	
	height:700px;
	/*color:#fff;*/
}


#thub-map{
	height:650px;	
	width:560px;	
	float:left;
	margin:0 10px;
}

aside#video{
	width:360px;		
	float:left;
}
.clear{
	clear:both;
}

/*======== About ==========*/

section#about{
	margin:0 auto;
	padding: 100px 10px 50px;
	background: url(../img/hub.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height:800px;	  	
}
section#about2{
	width:100%;
	margin:0 auto;
	padding: 100px 10px 50px;
	background: url(http://blog.hackerhires.com/wp-content/uploads/2012/09/IMG_0686.jpg) no-repeat center center fixed;   	
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	
  	height:750px;
}
section#about3{
	width:100%;
	margin:0 auto;
	padding: 100px 10px 50px;
	background: url(http://christinemason.me/wp-content/uploads/2012/07/IMG_6703.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	
  	height:750px;
}



/*=============TOS===============*/
#terms{	
	margin:0 auto;
	padding: 100px 10px 50px;
	/*background: url(../img/hub.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	
  	height:100%;*/
}


/*===============BLOG ==================*/
section#blog-content{
	margin:0 auto;
	padding:80px 0;
	width:1024px;	
}

#blog{
	width:1024px;
	height:55px;
	background: #2d2d2d;
	color:#fff;
}
#blog h1{
	line-height:55px;
	text-indent: 20px;
}
.entry{
	width:512px;
	float:left;
	height:270px;	
	margin-bottom: 130px;
}

.entry a{
    display: block;
    position: relative;    
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);    
}
.entry a .description{
    display: block;
    background: rgba(252,229, 0, 0.9);
    font-style: italic;
    color: #fff;
    font-weight: bold;    
    position: absolute;
    bottom: 10px;
    /*left: 10px;*/
    width: 512px;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    text-align: center;
    text-shadow: 1px 1px 1px #303857;
    transition: all 0.3s ease-in-out;
}
.entry a:hover .description{
    height: 344px;
    opacity: 1;
}
.entry img{
    display: block;
}

/*============BLOG SINGLE================*/
.entry-single{

}
.entry-single .main-image{
	margin:0 auto 0;
}
.entry-single .description{
	margin: -190px auto;
	padding: 20px;
	width: 985px;
	background: rgba(31, 157, 207,0.7);
	color: #fff;
	position: absolute;
}

/*========== COMPLETE PROFILE =========*/
section#complete-profile{
	margin:0 auto;
	padding:80px 0;
	width:1024px;	
}
section#complete-profile header{
	width:1024px;
	height:55px;
	background: #2d2d2d;
	color:#fff;
	font-weight: 100;
	margin-top: 15px;
}
section#complete-profile header h2{
	line-height: 34px;
	font-weight: 100;
	width: 770px;
	float: left;
	margin: 10px;
}
section#complete-profile input{
	height: 50px;
	font-size: 30px;
	border: none;
	margin: 1px;
	line-height: normal;
	width:100%;		
    padding: 0;   
    font-family:inherit;
    font-weight: 100;
    text-indent: 10px;
}

section#complete-profile header #submit{
	background: #F8E14E;
	width:234px;
	height:55px;
	margin:0;
	padding:0;
}
section#complete-profile header input[type="submit"]{
	background: #F8E14E;
	border:none;
}	


/*=================CALENDAR=======================*/

section#calendar-content{
	margin:0 auto;
	padding:80px 0;
	width:1024px;	
}

#calendar{
	width:1024px;
	height:55px;
	background: #2d2d2d;
	color:#fff;
}


#calendar h1{
	line-height:55px;
	text-indent: 20px;
}
.calendar {
    font-family: Arial, Verdana, Sans-serif;
    width: 100%;
    min-width: 960px;
    border-collapse: collapse;
}

.calendar tbody tr:first-child th {
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    margin: 0 0 10px 0;
    height:50px;
    background: #0C92D0;
}
.calendar tbody tr:first-child th a, .calendar tbody tr:first-child th a:hover, .calendar tbody tr:first-child th a:visited
{
	color:#fff;
	text-decoration: none;
}



.day_header {
    font-weight: normal;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: #2d2d2d;
	text-transform: uppercase;
}

.calendar td {
    width: 14%; /* Force all cells to be about the same width regardless of content */
    /*border:1px solid #CCC;*/
    height: 100px;
    vertical-align: top;
    font-size: 10px;
    padding: 0;
    background-color: #F8E14E;
}

.calendar td:hover {
    background-color: rgba(31,157,207,0.5);
}

.day_listing {
    display: block;
	text-align: right;
	font-size: 30px;
	color: #fff;
	position: absolute;
	float: right;
	padding: 10px 0 0 10px;
}

div.today {
    background: #0C92D0;
    height: 100%;
} 

/*============MODAL=============*/

.info-event{
	display:none;
}

.image-holder{
	float: left;
	margin: 0 40px 0 0;
}

.rsvp{
	background: #339660;
	width: 120px;
	height: 45px;
	float: left;
	cursor: pointer;
	text-align: center;
	line-height: 45px;
	color: #fff;
	text-transform: uppercase;
}
.cancel{
	background: #da3238;
}
.totalrsvps{
	width: 45px;
	float: right;
	height: 45px;
	background: #0C92D0;
	color: #fff;
	font-size: 30px;
	line-height: 45px;
	text-align: center;
}
.rsvpsimages{
	float:left;
}


/*===========PROFILE=========*/
section#profile-content{
	margin:0 auto;
	padding:80px 0;
	width:1024px;
	color:#fff;	
}
section#profile-content aside{
	float: right;
	width: 324px;
	padding: 20px;
}

#profile{
	width:1024px;
	height:55px;
	background: #2d2d2d;
	color:#fff;
}


#profile h1{
	line-height:55px;
	text-indent: 20px;
}
#profile h2, h4, h5{
	color:#2d2d2d;
}
#profile .card h3{
	font-weight: 100;
}

section#profilecard{
	width:660px;
	float:left;
}

section#profilecard #image-holder{
	float:left;
	margin: 10px 20px 0 10px;
}

.card{

}
.stream{
	margin:10px 0  10px 10px;
}
.male{
	background: rgba(31, 157, 207,0.7);

}
.female{
	background-color: rgba(232, 58, 147, 0.7);
}




/*============= FOOTER ==========*/
#menufooter ul li{

	display:inline;

}